{% extends "layout.html" %}
{% block content %}
<div class="row cams">
    {% for cam in cameras %}
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="cam">
            <div class="row">
                {% if cam.status=='active' %}
                <span class="dot cam-active"></span>
                <!--                <div class="col-1 cam-active"></div>-->
                {% else %}
                <span class="dot cam-inactive"></span>
                <!--                <div class="col-1 cam-inactive"></div>-->
                {% endif %}
                <h1 class="col-11 cam">{{ cam.name }}</h1>
            </div>
            <div class="div-video-all">
                <!--                <iframe id="cam-video" class="video-little" src="{{ cam.src }}" title="YouTube video player" frameborder="0"-->
                <!--                        allowfullscreen allow="autoplay"></iframe>-->
                <iframe id="cam-video" class="video-little" src="static/video.mp4" title="YouTube video player"
                        frameborder="0"
                        allow="autoplay"></iframe>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="cam">
            <div class="row">
                <span class="dot cam-active"></span>
                <h1 class="col-11 cam"></h1>
            </div>
            <div class="div-video-all">
                <img src="{{ url_for('static', filename='robot_text.png') }}">
            </div>
        </div>
    </div>
</div>
{% endblock content %}







