<!--#####################################################-->
<!--   All Cams page for Flask Web App for UiT Narvik    -->
<!--   Author : Loup RUSAK                               -->
<!--#####################################################-->

{% extends "layout.html" %}
{% block content %}

<div class="row cams">

    <!-- For each camera create an iframe with status, title and video -->
    {% for cam in cameras %}
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="cam">
            <div class="row">
                {% if cam.status=='active' %}
                <span class="dot cam-active"></span>
                {% else %}
                <span class="dot cam-inactive"></span>
                {% endif %}
                <h1 class="col-11 cam">{{ cam.name }}</h1>
            </div>
            <div class="div-video-all">
                <img src="{{ url_for(cam.src) }}">
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Hint frame with robot graphic -->
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="cam">
            <div style="height: 30px;">
            </div>
            <div class="div-video-all">
                <img src="{{ url_for('static', filename='robot_text.png') }}">
            </div>
        </div>
    </div>
</div>

{% endblock content %}







