{% extends "layout.html" %}
{% block content %}
<!--<div class="row mh-100">-->
<!--    <div class="col-lg-3 list">-->
<!--        <div class="list-group">-->
<!--            <a href="#" class="list-group-item">1</a>-->
<!--            <a href="#" class="list-group-item">2</a>-->
<!--            <a href="#" class="list-group-item">3</a>-->
<!--            <a href="#" class="list-group-item">4</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-lg-9">-->
<!--        <h1>Cams page</h1>-->
<!--    </div>-->
<!--</div>-->

<div id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">

            {% for cam in cameras %}

            <a href="#"
               class="list-group-item list-group-item-action py-2 ripple d-flex justify-content-between align-items-center"
               aria-current="true">
                {{ cam.name }}
                {% if cam.active=='true' %}
                <span class="dot cam-active"></span>
                {% else %}
                <span class="dot cam-inactive"></span>
                {% endif %}
            </a>

            {% endfor %}

        </div>
    </div>
</div>

<div class="cams-aside">
    <div class="cam-focus">
        <div class="row">
            <span class="dot cam-active"></span>
            <h1 class="col-11 cam">Top view</h1>
        </div>
        <video width="80%" autoplay>
            <source src="rtsp://admin:admin192.168.1.30:554/stream1">
            Vidéo not available
        </video>
        <h2 class="cam">20/04/2023 - 10:00:00</h2>
    </div>
</div>

{% endblock content %}