h1{
    color: blue;
}

body{
    margin-top : 100px;
}

.page-logo{
    margin-right : 10px;
}

.container-tabs{
    margin: auto;
}

.nav-item{
    font-size: 20px;

}

a.nav-link:hover{
    color:white;
}


a.dropdown-item:hover{
    color: white;
}

a.logout:hover{
    color: red;
}



