h1{
    color: blue;
}

body{
    margin-top : 100px;
}

body.bg-grey{
    background-color: grey;
}

.page-logo{
    margin-right : 10px;
}

.container-tabs{
    margin: auto;
}

.nav-item{
    font-size: 20px;

}

a.nav-link:hover{
    color:white;
}


a.dropdown-item:hover{
    color: white;
}

a.logout:hover{
    color: red;
}


div.cams{
    margin: 50px;
    padding: 0px;
}

div.cam{
    background-color : white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.cam-active{
    background-color: green;
}

.cam-inactive{
    background-color: red;
}

h1.cam{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

h2.cam{
    font-size: 20px;
    color: black;
}

.debug{
    border: 1px solid red;
}

.list{
    border: 1px solid red;
}

.row{
    border: 1px solid green;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 80px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 300px;
    z-index: 600;
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.cams-aside{
    /*margin:110px 10px 0px 310px;
    border-radius: 10px;
    padding:20px;
    height: 85vh;
    background-color: white;*/

    /*display: table;
    height:100%;
    margin: 0 auto;

    border: 1px solid red;*/

    margin-left: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: calc(80% - 80px);

}

.cams-focus{
    display: table-cell;
    vertical-align: middle;

    border: 1px solid green;
}







